<table class="table table-bordered">
  <thead>
    <tr>
      <td>FirstName</td>
      <td>LastName</td>
      <td>Email</td>
      <td>Password</td>
      <td>Role</td>
      <!-- <td>Color</td>
      <td>Status</td>
      <td>Country</td> -->
      <td align="center">Action</td>
    </tr>
  </thead>
  <tbody>
     <tr *ngFor="let employee of employees">
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.password}}</td>
        <td>{{employee.role}}</td>
        <!-- <td>{{employee.color}}</td>
        <td>{{employee.status}}</td>
        <td>{{employee.country}}</td> -->
        <td> 
            <a class="btn btn-info" routerLink="/show/{{employee._id}}">Detail</a> 
            <a class="btn btn-success" routerLink="/edit/{{employee._id}}">Edit</a>
            <a class="btn btn-danger" (click)="deleteEmployee(employee._id)">Delete</a>
        </td>
     </tr>
    
  </tbody>
 
</table>
